.products-container {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* Responsive grid for various screen sizes */
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9; /* Softer background for elegance */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1); /* Enhanced depth with shadow */
}

/* Responsive Styles for Pagination */
@media screen and (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr); /* Adjusted grid for tablets */
    gap: 10px;
  }
}
/* Responsive Styles for Pagination */
@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr); /* Adjusted grid for tablets */
    gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr); /* Compact grid for small devices */
    gap: 12px;
  }
}
